<div class="border-gray-100 rounded mb-4">
  <div class="flex">
    <div class="font-bold text-teal-800 mr-auto"><%= comment.commenter %></div>

    <%= button_to 'Destroy Comment', [comment.article, comment],
                  method: :delete,
                  data: { confirm: "Are you sure?" },
                  class: "text-red-500 hover:underline bg-white cursor-pointer"%>
  </div>
  <%= comment.body %>
</div>
