<span class="px-4 py-2 rounded bg-white hover:bg-teal-400 cursor-pointer duration-200 text-teal-400 hover:text-white font-bold shadow-md" style="display: none"></span>
<span class="hover:underline no-underline mr-2"></span>
<span class="border rounded-md border-gray-100 shadow-md focus:shadow-lg focus:border-gray-200 outline-none mb-4 w-1/2 h-24 resize-none"></span>
<span class="text-red-500 hover:underline bg-white"></span>